@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Bienvenue : " + User.Identity.GetUserName(), "Index", "Manage")
            </li>
            <li>
                <a href="javascript:document.getElementById('logoff').submit()">Deconnexion</a>
            </li>
        </ul>
    }
}
else
{
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
            <div class="form-group">

                <a href="~/Account/Login"><input type="submit" value="Connexion" class="btn float-right login_btn"></a>
            </div>
        </form>
        <div class="d-flex navbar-center">
            <a href="~/Account/Register">Nom d'utilisateur ou Mot de passe oublié</a>
        </div>

    </div>
}

