@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section id="skills">
 
    <div class="skills-group-container">
        <article class="col-md-4">
            <div class=" skills-group skills-group-c1">
                <h2>Nouveautés</h2>
                <div class="skill-item">
                    <span class="skill-title">Réforme du 100% Santé <p>reste à charge zéro00</p></span>
                    <div class="skill-description">
                    </div>
                </div>

                <div class="skill-item">
                    <span class="skill-title">E-santé: partenariat avec Apple pour l'Apple Watch</span>
                    <div class="skill-description">
                    </div>
                </div>

                <div class="skill-item">
                    <span class="skill-title">Essor de la téléconsultation médicale</span>
                    <div class="skill-description">
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class=" skills-group skills-group-c2">
                <h2>Evènements</h2>

                <div class="skill-item">
                    <span class="skill-title">Séminaire d'entreprise <p>le 14 août 2019</p></span>
                    <div class="skill-description">
                    </div>
                </div>

                <div class="skill-item">
                    <span class="skill-title">Conférence sur le futur de l'assurance <p>le 2 septembre 2019</p></span>
                    <div class="skill-description">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="skill-item">
                    <span class="skill-title">Grand forum de l'assurance <p>le 15 décembre 2019</p></span>
                    <div class="skill-description">
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class=" skills-group skills-group-c2">
                <h2>Questions</h2>
                <div class="skill-item">
                    <span class="skill-title">.....</span>
                    <div class="skill-description">
                    </div>
                </div>

                <div class="skill-item">
                    <span class="skill-title">.....</span>
                    <div class="skill-description">
                    </div>
                </div>
                <div class="skill-item">
                    <span class="skill-title">.....</span>
                    <div class="skill-description">
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
