
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des entreprises</h2>
<fieldset>
    <legend></legend>
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="">Recherche par nom d'entreprise:</label>
                    <input type="text" class="form-control" placeholder="" />
                    <a href="~/Views/Entreprise/Index/Liste.cshtml"><input type="submit" value="Chercher" class="btn float-right btn-success" /></a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label>Recherche par code APE:</label>
                    <input type="text" class="form-control" placeholder="" />
                    <a href="~/Views/Entreprise/Index/Liste.cshtml"><input type="submit" value="Chercher" class="btn float-right btn-success" /></a>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<p></p>
@Html.Action("Liste")
